<div class="container">
	<div class="row mt-5">
		<div class="col-sm-12 col-md-12 col-lg-12 m-auto"></div>
	</div>
	<div class="row mt-5">
		<div class="col-sm-12 col-md-12 col-lg-12 m-auto"></div>
	</div>
	<div class="row mt-5">
		<div class="col-sm-12 col-md-12 col-lg-12 m-auto">
			<h5><strong>本当に退会しますか？</strong></h5>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-sm-12 col-md-12 col-lg-12 m-auto">
			<p>退会すると、会員登録情報や<br>
         これまでの購入履歴が閲覧できなくなります。<br>
         退会する場合には、「退会する」をクリックしてください。
      </p>
		</div>
	</div>
	<div class="row mt-3">
		<div class="d-flex col-sm-12 col-md-12 col-lg-12 m-auto">
		 <%= link_to "退会しない", customers_path , class:"btn btn-primary mr-4" %>
		 <%= link_to "退会する", customers_leave_path, method: :patch, class:"btn btn-danger" %>
		</div>
	</div>
</div>