<div class="container">
 <div class="row">
  <h2 class="col-sm-6 col-md-4 col-lg-3 mr-2 mt-3 text-center bg-light">ジャンル編集</h2>
 </div>
 <div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 mr-5 mt-3">
   <%= form_with model:@genre, url: admin_genre_path, local:true do |f| %>
    <div class="form-group row form-inline mt-3">
   	 <%= f.label:ジャンル名,class:"mr-4"%> 
   	 <%= f.text_field :name,class:"mr-4 form-control name" %> 
   	 <%= f.submit "変更を保存",class:"mr-4 btn btn-success" %>
    </div>
   <% end %>
  </div>
 </div>