<div class="container">
 <div class="row">
 	<div class="col-sm-6 col-md-4 col-lg-4 mr-2 mt-3 text-center bg-light">
   <h2>注文情報入力</h2>
  </div>
 </div>
</div>
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12 mt-3">
	  <%= form_with model:[@order,@order_detail] local:true do |f| %>
   <h4><strong>支払方法</strong></h4>
    
 </div>
 
</div>